<div class="main-container">
  <div class="index_container">
    <h3>edit screen</h3>

    <%= render 'form', feed: @feed %>

  <button type="button" class="btn btn-primary btn-sm">  <%= link_to 'Show', @feed %> </button>
  <button type="button" class="btn btn-primary btn-sm">  <%= link_to 'Back', feeds_path %></button>
  </div>
</div
