footer {
  background-color: #000080;
  font-family: verdana, arial, helvetica, sans-serif;
  text-align: center;
  color: #C0C0C0;

  bottom: 0;
  position: absolute;
  width: 100%;
  width:1370px;
	margin:0 auto;
}
